codes/testEncoderDecoder.py
codes/pyae.py
codes/test.tex
codes/test.lz
codes/test-decoded.tex

crypto/encrypt.exe
crypto/addresses1.p
crypto/addresses2.p
crypto/submatches.p
crypto/dictionary_words.txt
crypto/top1000_words.txt

spec.pdf
.DS_Store
venv/**